.sidebar-style, .nav-header, .logo-element{
  background: #03AED2;
}
.modo-style {
  background: #03AED2;
  padding: 4px;
  color: white !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Opcional, por si hay texto en varias líneas */
}

.nav-label{
  color: #ffffff
}


.font-title-style{
  color: #03AED2;
  font-weight: bold;
}
.gray-bg{
  background:#FFFFFF !important;
}

.text-name-style{
  color:white !important;
}
.font-parrafo-style{
  font-size: 14px;
  font-weight: normal;
}
.font-subtitle-style{
  color: #CDF5FD
}
.style-tema{
  color:black;
}
.input-label{
  color:#000000
}
/* Estilos button */
/* Estilo para el botón */
.btn-outline.btn-primary {
  color: #03AED2; /* Color del texto del botón */
  background-color: transparent;
  border: 2px solid #03AED2; /* Borde del botón */
  transition: all 0.3s ease-in-out;
}
.custom-search-input {
  color: #000000 !important; /* Cambia esto al color que desees */
}
/* Hover del botón */
.btn-outline.btn-primary:hover {
  color: #fff; /* Color del texto al hacer hover */
  background-color: #03AED2; /* Color de fondo al hacer hover */
  border-color: #03AED2; /* Borde al hacer hover */
}
.dropdown-toggle{
  color:#000000 !important;
}
.sign-out{
  color:#000000 !important;
}
/* .minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
} */
.input-search {
  display: inline-block;
  width: 500px; /* Ajusta el tamaño según tus necesidades */
  margin: 14px 5px 5px 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.input-search:focus {
  border-color: #66afe9;
  outline: none;
  /* box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); */
}
.footer {
  background: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding: 5px;
  font-weight: bold;
}